// Place all the styles related to the public/customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.sign_in_title {
	text-align: center;
	background-color: #dfdfdf;
	width: 175px;
}

.log_in_title {
	margin-top: 0px;
	text-align: center;
	background-color: #dfdfdf;
	width: 275px;
}

.container {
	margin: 0 auto;
	margin-bottom: 100px;
}

.sign_in_table td{
	padding: 5px 15px;
}

.log_in_table td{
	padding: 8px 10px;
}

.actions_button {
	margin: 0 auto;
}