// Place all the styles related to the public/customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.sign_in_title {
	text-align: center;
	background-color: #dfdfdf;
	width: 175px;
}
h4 {
	background-color: #dfdfdf;
	padding-left: 20px;
}

.main_container {
	margin: 0 auto 100px auto;
}

.sign_in_table td{
	padding: 5px 15px;
}

.log_in_table td{
	padding: 8px 10px;
}

.actions_button {
	margin: 0 auto;
}

.button_table td{
	padding: 5px 5px;
}

// change password page
.change-pass-main {
	margin-bottom: 100px;
}

.change-pass-table {
	border: none;
}

.change-pass-field {
	margin-bottom: 15px;
}

.change-pass-field i{
	font-size: 10px;
}

.password-change-actions {
	text-align: center;
}