<div style="border: 1px solid gray; margin-top:20px;">
<h3 class="page-header"style="margin-top: 5px;">ジャンル検索</h3>
<% genres.each do |genre| %>
<p><%= link_to genre.name, public_genre_path(genre) %>
</p>
<% end %>
</div>
