// Place all the styles related to the admin/genres controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h4 {
	background-color: #dfdfdf;
}
.row {
	margin-bottom: 30px;
}
.addbtn {
	margin-left: 10px;
}
.genreform {
	margin-right: 10px;
}