<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="center-block" style = "text-align: center; padding-top:50px;">
				<h3>ご購入ありがとうございました！</h3>
			</div>
		</div>
	</div>
</div>