<div class="container">
	<div class="row" >
		<div class="col-xs-2 offset-2">
			<h4>注文履歴一覧</h4>
		</div>
	</div>

	<table class="table table-bordered table-inverse">
		<thead>
			<tr class="active">
				<th>注文日</th>
				<th>配送先</th>
				<th>注文商品</th>
				<th>支払金額</th>
				<th>ステータス</th>
				<th>注文詳細</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>2020/8/23</td>
				<td>
					1111111 <br>
					東京都東京都東京都東京都東京都東京都東京都東京都　<br>
					1111111
				</td>
				<td>
				    イチゴショートケーキ <br>
					ケーキ <br>
					ガトーショコラ
			　　</td>
				<td>2300円</td>
				<td>入金確認</td>
				<td><%= link_to "表示する",public_order_path(id:1),class: "btn btn-primary" %>
				</td>
			</tr>
　　<!-- eachメソッド実装時はここから下を削除 -->
			<tr>
				<td>2020/8/23</td>
				<td>
					1111111 <br>
					東京都東京都東京都東京都東京都東京都東京都東京都　<br>
					1111111
				</td>
				<td>
					イチゴショートケーキ <br>
					ケーキ <br>
					ガトーショコラ
			　　</td>
				<td>2300円</td>
				<td>入金確認</td>
				<td><%= link_to "表示する",public_order_path(id:1),class: "btn btn-primary" %>
				</td>
			</tr>
	<!-- ここまで -->
		</tbody>
	</table>
</div>
