<div class="container">
	<div class="row">
		<div class="col-xs-8 col-xs-offset-2">
			<div class="row">
				<div class="col-xs-4">
					<h4>注文情報入力</h4>
				</div>
			</div>
			<!-- form_withで情報受け取り -->

			<!-- 支払い方法 -->
			<div class="row">
				<h3>支払い方法</h3>
				<!-- f.label -->
			</div>
			<div class="row">
				<div class="col-xs-4 btn-group" data-toggle="buttons">
					<label class="btn btn-outline-secondary active"></label>
					<label class="btn btn-outline-secondary active"></label>
				</div>
			</div>

			<!-- お届け先 -->
			<div class="row">
				<h3>お届け先</h3>
			</div>

			<!-- ご自身の住所 -->
			<div class="row">
				<p>
					<label class="radio_button ">ご自身の住所</label>
					<p>郵便番号</p>
					<p>住所</p>
					<p>名前</p>
					<!-- labelで引っ張ってくる？ -->
				</p>
			</div>

			<!-- 登録済み住所 -->
			<div class="row">
				<p>
					<label>登録住所から選択</label>
					<p>登録先住所</p>
				</p>
			</div>

			<!-- 新しい住所 -->
			<div class="row">
				<p>
					<label>新しいお届け先</label>
				</p>
			</div>
			<div class="row">
				    <div class="row">
				       	<div class="col-xs-3">
				       		<strong>郵便番号(ハイフンなし)</strong>
				       	</div>
				   	</div>
			    	<div class="row">
		        		<div class="col-xs-3">
		        			<strong>住所</strong>
		        		</div>
		    		</div>

			    <div class="row">
			        <div class="col-xs-3">
			        	<strong>宛名</strong>
			        </div>
			    </div>
			</div>
			<!-- お届け先ここまで -->

			<div class="row space">
				<div class="col-xs-2 offset-xs-7">
					<button class="btn btn-danger">
				</div>
			</div>
		</div>
	</div>
</div>